/**
* Nick meek 2021
* COSC212
* Style for basic Assignment 1 solution
 */

#bookingData {
    display: flex;
}

li {
    margin-top: 10px;
}


#siteList {
    flex: 1;
    background-color: antiquewhite;
}

#dogPreviewPane {
    flex: 1;
    border: 1px solid;
    background-color: #e9fadb;
}

#dogPreviewPane img {
    width: 100%;
}

#selectDates {
    flex: 1;
    background-color: #fadee2;
}

#selectDates label {
    display: block;
}

/** Style for map */
#map {
    display: block;
    margin: 100px auto 100px auto;
    width: 700px;
    height: 600px;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
}

#dateErrors {
    min-height: 70px;
}

#reviews {
    background-color: ivory;
    color: inherit;
    padding: 5px;
}

#reviews dd {
    margin-bottom: 20px;
}

/* style for every body */
body {
    background: linear-gradient(90deg, #CDB7F6, #FFEFFF, #B19CD9);
}

/* Style for mains (add boarder)*/
main {
    padding: 10px;
    margin: 10px auto 10px auto;
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(90deg, #CDB7F6, #B19CD9);
    color: inherit;
    width: 1250px;
}

table {
    margin: 0 auto 0 auto;
    background-color: white;
    border: 2px solid black;
}

h3 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.loginLabel {
    margin-right: 155px;
}

#loginError {
    color: red;
    margin-top: -100px;
    margin-bottom: 82px;
}

#adminHeader {
    margin-right: 520px;
}

#removeHeader {
    margin-right: 563px;
}

#addDogHeader {
    margin-right: 616px;
}

#editDogHeader {
    margin-right: 600px;
}

.centerForm {
    text-align: center;
}

.adminFieldSet {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    color: white;
    margin-left: 30px;
}

header {
    width: 1270px;
    background-color: #2f2f2f;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    border-radius: 5px 5px 0 0;
    margin-bottom: -5px;
    border: 1px solid black;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-right: 60px;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav a {
    margin-top: -26px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 17px;
}

nav a.current {
    background-color: #2f2f2f;
    color: white;
}